###############
#    folder   #
###############





###############
#  fixed file #
###############
*.pyc
*.log


###############
#  temp file  #
###############


###############
#    script   #
###############


