<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">

<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Orange MySQL</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
{% load staticfiles %}
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/global/plugins/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/global/plugins/simple-line-icons/simple-line-icons.min.css"  %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/global/plugins/bootstrap/css/bootstrap.min.css"  %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/global/plugins/uniform/css/uniform.default.css"  %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css"  %}" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="{% static "assets/global/css/components.css" %}" id="style_components" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/global/css/plugins.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/admin/layout/css/layout.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/admin/layout/css/themes/darkblue.css" %}" rel="stylesheet" type="text/css" id="style_color"/>
<link href="{% static "assets/admin/layout/css/custom.css" %}" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
<!-- BEGIN PAGE LEVEL PLUGIN STYLES -->

<!-- END PAGE LEVEL PLUGIN STYLES -->
<!-- BEGIN PAGE STYLES -->
<link href="{% static "assets/admin/pages/css/tasks.css"  %}" rel="stylesheet" type="text/css"/>
<!-- END PAGE STYLES -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top" >
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="{% url "index" %}">
                <img src="{% static "assets/admin/layout4/img/logo-light.png" %}" alt="logo" class="logo-default"/>
            </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
    </div>
</div>
{% block header %}
{% endblock %}
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->

			<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                {% block main-menu-hostinfo %} 
                <li>
                    <a href="javascript:;">
                    <i class="icon-screen-desktop"></i>
                    <span class="title">主机信息</span>
                    <span class="arrow "></span>
                    </a>
                {% endblock %}

			        <ul class="sub-menu">
			            <li>			           
			                <a href="{% url 'host' %}"><i class="fa fa-cube"></i>
			                主机列表</a>
			            </li>
			            <li>
			                <a href="{% url 'exe_group' %}"><i class="fa fa-cubes"></i>
			                执行组列表</a>
			            </li>
			            <li>
			                <a href="{% url 'role' %}"><i class="fa fa-user"></i>
			                角色列表</a>
			            </li>
			            
			        </ul>
			    </li>
                {% block main-menu-missioninfo %}
			    <li>
			        <a href="javascript:;">
			        <i class="icon-notebook"></i>
			        <span class="title">任务信息</span>
			        <span class="arrow "></span>
			        </a>
                    {% endblock %}
			         <ul class="sub-menu">
			            <li>
			                <a href="{% url 'mission' %}"><i class="fa fa-file"></i>
			                任务列表</a>
			            </li>
                        <li>
			                <a href="{% url 'finished_mission' %}"><i class="fa fa-pencil-square-o"></i>
			                完成任务列表</a>
			            </li>
			         </ul>
			     </li>
			</ul>

			<!-- END SIDEBAR MENU -->
		</div>
	</div>
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
    {% block content %}
    {% endblock %}
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="page-footer-inner">
		 2015-2016 &copy; All Rights by Orange DBAs.
	</div>
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{% static "assets/global/plugins/respond.min.js"  %}"></script>
<script src="{% static "assets/global/plugins/excanvas.min.js" %}"></script>
<![endif]-->
<script src="{% static "assets/global/scripts/metronic.js" %}" type="text/javascript"></script>
<script src="{% static "assets/admin/layout/scripts/layout.js" %}" type="text/javascript"></script>
<script src="{% static "assets/admin/layout/scripts/demo.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/jquery-migrate.min.js"  %}" type="text/javascript"></script> -->
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{% static "assets/global/plugins/jquery-ui/jquery-ui.min.js"  %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/bootstrap/js/bootstrap.min.js"  %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"  %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"  %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/jquery.blockui.min.js"  %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/jquery.cokie.min.js"  %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/uniform/jquery.uniform.min.js"  %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"  %}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static "assets/admin/pages/scripts/index.js" %}" type="text/javascript"></script>
<script src="{% static "assets/admin/pages/scripts/tasks.js" %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
{% block scripts %}
{% endblock %}

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>