{% extends 'base.html' %}
{% block title %}hisdatabase{% endblock %}



{% block content %}

 <div class="page-content-wrapper">
        <div class="page-content">

            <!-- BEGIN PAGE HEADER-->
            <div class="page-bar">
                <ul  class="page-breadcrumb">   
                    <li>
                        <span class="caption-subject font-yellow-gold bold uppercase">页内导航</span>
                    </li>



                    <li>
                        <i class="icon-energy"></i>
                        <a href="/datatransfer/hisdata">

                        {% ifequal request.path "/datatransfer/hisdata" %}
                        <span class="caption-subject font-green-sharp bold uppercase">历史数据治理</span>
                        {% else %}
                        <span class="title"><strong>历史数据治理</strong></span>
                        {% endifequal %}
                        
                        </a>
                    </li>

        




               


                </ul>


            </div>

            <!-- END PAGE HEADER-->






       
            {%  block subcontent %}   
            <h3 class="page-title">
            PAGE-TITLE <small>comments</small>
            </h3>    

            <div class="clearfix">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PORTLET-->
                    subcontent
                    <!-- END PORTLET-->
                </div>
            </div>
            {% endblock  %}

        </div>
</div>





{% endblock %}