

{% extends 'datatransfer/logicalbackupbase.html' %}
{% load myNewLibrary %}

{% block title %}logicalbackup{% endblock %}




 {%  block subcontent %}   
            <h3 class="page-title">
            逻辑备份
            </h3>     

            <div class="clearfix">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PORTLET-->
               
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-red-sunglo bold uppercase">
                                <i class="icon-speech"></i>
                                输入查询条件</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="context" data-toggle="context" data-target="#context-menu">


<!--begin content 1--> 
test1
 <!--end content 1-->
                            





                            </div>
                        </div>
                    </div>

                    <!-- END PORTLET-->



                    <!-- BEGIN PORTLET-->
               
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-red-sunglo bold uppercase">
                                <i class="icon-speech"></i>
                                查询结果</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="context" data-toggle="context" data-target="#context-menu">


<!--begin content 2-->
test2
  <!--end content 2--> 


                            </div>
                        </div>
                    </div>

                    <!-- END PORTLET-->
                </div>
            </div>
            {% endblock  %}








