{% extends 'runanalysis/objectcheckbase.html' %}

{% block title %}runanalysis_objectcheck_index{% endblock %}



            {%  block subcontent %}   
            <h3 class="page-title">
            索引治理 
            </h3>     

            <div class="clearfix">
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-red-sunglo bold uppercase">
                                <i class="icon-speech"></i>
                                失效索引</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="context" data-toggle="context" data-target="#context-menu">


提供警告和重建索引功能



                            </div>
                        </div>
                    </div>

                    <!-- END PORTLET-->
                </div>
                <div class="col-md-6 col-sm-6">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-red-sunglo bold uppercase">
                                <i class="icon-speech"></i>
                                低效索引</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="context" data-toggle="context" data-target="#context-menu">

包括冗余索引、层级高的索引和不可见的索引等


                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>


                <div class="col-md-12">

                    <!-- BEGIN PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-red-sunglo bold uppercase">
                                <i class="icon-speech"></i>
                                其他</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="context" data-toggle="context" data-target="#context-menu">

CONTENT



                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>

            </div>
            {% endblock  %}
