{% extends 'runanalysis/statreportbase.html' %}

{% block title %}runanalysis_statreport_monthcheck{% endblock %}



            {%  block subcontent %}   
            <h3 class="page-title">
            月度巡检报告 
            </h3>     

            <div class="clearfix">
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-red-sunglo bold uppercase">
                                <i class="icon-speech"></i>
                                提交信息</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="context" data-toggle="context" data-target="#context-menu">


content1



                            </div>
                        </div>
                    </div>

                    <!-- END PORTLET-->
                </div>
                <div class="col-md-6 col-sm-6">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-red-sunglo bold uppercase">
                                <i class="icon-speech"></i>
                                下载报告</span>
                                <span class="caption-helper">最近10份报告</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="context" data-toggle="context" data-target="#context-menu">

content2



                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>


                <div class="col-md-12">

                    <!-- BEGIN PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-red-sunglo bold uppercase">
                                <i class="icon-speech"></i>
                                其他</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="context" data-toggle="context" data-target="#context-menu">

content3



                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>

            </div>
            {% endblock  %}
