
{% extends 'ddlaudit/ddlauditbase.html' %}
{% load staticfiles %}

{% block title %}ddlaudit_faq{% endblock %}


{%  block subcontent %}
            <h3 class="page-title">
            功能说明<small>  faqs</small>
            </h3>    

            <div class="clearfix">
            </div>
            <div class="row">
                <div class="col-md-12  col-sm-12">
                    <!-- BEGIN PORTLET-->
                                           <div class="portlet light">
                        <div class="portlet-title tabbable-line">

                            <ul class="nav nav-tabs pull-left">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">
                                    使用流程说明 </a>
                                </li>
                              
                                <li>
                                    <a href="#tab_1_2" data-toggle="tab">
                                    权限说明 </a>
                                </li>
                                <li>
                                    <a href="#tab_1_3" data-toggle="tab">
                                    关注微信公众号 </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <!--BEGIN TABS-->
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">
                                    <div >
                                        <ul class="feeds">
                                            <li>
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col1">
                                                            <div class="label label-sm label-success">
                                                                <i class="fa fa-bullhorn"></i>
                                                            </div>
                                                        </div>
                                                        <div class="cont-col2">
                                                            <div class="desc">
                                                                DDL审核和DML的流程有一些不同，同一个数据库、schema、
                                                                应用系统和发布日期下只能有一个批次的审核被提交。<br>
                                                                在正式提交给DBAreview之前、这个批次的DDL变更语句
                                                                是可以被修改并重新提交到系统自动审核的。<br>
                                                                建议当系统审核结果无异常后提交给DBAreview，提交后
                                                                该批次的状态是冻结的，无法再进行修改了。

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                            <li>
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col1">
                                                            <div class="label label-sm label-danger">
                                                                <i class="fa fa-slack "></i>
                                                            </div>
                                                        </div>
                                                        <div class="cont-col2">
                                                            <div class="desc">
                                                                DBAreview通过，那么该批次的DDL变更会在上线日择机执行。
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col1">
                                                            <div class="label label-sm label-danger">
                                                                <i class="fa fa-slack "></i>
                                                            </div>
                                                        </div>
                                                        <div class="cont-col2">
                                                            <div class="desc">
                                                                DBAreview不通过，那么该批次冻结状态解除，
                                                                开发人员对相应问题进行修改并审核，然后再次提交给DBAreview。
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col1">
                                                            <div class="label label-sm label-info">
                                                                <i class="fa fa-send "></i>
                                                            </div>
                                                        </div>
                                                        <div class="cont-col2">
                                                            <div class="desc">
                                                                详见流程图<br>
                                                                 <img src={% static "images/ddlauditprocess.jpg" %}  class="img-rounded" alt="ddlauditprocess">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                                

                                <div class="tab-pane" id="tab_1_2">
                                    <div  >
                                        <ul class="feeds">
                                            <li>
                                                <div class="col1">
                                                    <div class="cont">
                                                        <!--div class="cont-col1">
                                                            test
                                                        </div-->
                                                        <div class="cont-col2">
                                                            <div class="desc">
 <!--展示权限表-->                                                               
<table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                <tr>
                                    <th >权限名</th>
                                    <th >访问页面</th>
                                    <th> DBA用户权限</th>
                                    <th> 非DBA用户权限</th>
                                </tr>
                                </thead>
                 <tbody>
                 

<tr> <td ><strong>audit_access</strong> </td>      <td >语句审核</td><td ><span class="label  label-success"><i class="icon-check"></i></span></td><td ><span class="label  label-success"><i class="icon-check"></i></span></td></tr>
<tr> <td ><strong>checkresult_access</strong></td> <td >查看审核结果</td><td ><span class="label  label-success"><i class="icon-check"></i></span></td><td ><span class="label  label-success"><i class="icon-check"></i></span></td></tr>
<tr> <td ><strong>dbause_access</strong> </td>     <td >DBA最终review</td><td ><span class="label  label-success"><i class="icon-check"></i></span></td><td ><span class="label  label-danger"><i class="icon-close"></i></span></td></tr>
<tr> <td ><strong>structure_access</strong> </td>     <td >线上表结构查询</td><td ><span class="label  label-success"><i class="icon-check"></i></span></td><td >
 <span class="label  label-danger"><i class="icon-close"></i></span>
</td></tr>

<tr> <td ><strong>report_access</strong> </td>     <td >报表统计</td><td ><span class="label  label-success"><i class="icon-check"></i></span></td><td ><span class="label  label-danger"><i class="icon-close"></i></span></td></tr>

<tr> <td >            </td>       <td >功能说明</td><td ><span class="label  label-success"><i class="icon-check"></i></span></td><td ><span class="label  label-success"><i class="icon-check"></i></span></td></tr>







                </tbody>
</table>
 <!--展示权限表-->        

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>






                                <div class="tab-pane active" id="tab_1_3">
                                    <div >
                                        <ul class="feeds">
                                            <li>
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col1">
                                                            <div class="label label-sm label-success">
                                                                <i class="fa fa-bullhorn"></i>
                                                            </div>
                                                        </div>
                                                        <div class="cont-col2">
                                                            <div class="desc">
                                                                 将你的微信号告知系统管理员
                                                                 并关注如下公众号,用于接受平台消息推送<br>
                                                                 <img src={% static "images/wechatqrcode.jpg" %}  class="img-rounded" alt="wechatqrcode">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                    


                                        </ul>
                                    </div>
                                </div>



                            </div>
                            <!--END TABS-->
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>
{% endblock  %}














