
{% extends 'ddlaudit/ddlauditbase.html' %}
{% load staticfiles %}

{% block title %}DDL功能说明{% endblock %}


{%  block subcontent %}
            <h3 class="page-title">
            功能说明<small>  faqs</small>
            </h3>    

            <div class="clearfix">
            </div>
            <div class="row">
                <div class="col-md-12  col-sm-12">
                    <!-- BEGIN PORTLET-->
                                           <div class="portlet light">
                        <div class="portlet-title tabbable-line">

                            <ul class="nav nav-tabs pull-left">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">
                                    审核结果说明 </a>
                                </li>
                              
                                <li>
                                    <a href="#tab_1_2" data-toggle="tab">
                                    权限说明 </a>
                                </li>
                                <!--li>
                                    <a href="#tab_1_3" data-toggle="tab">
                                    关注微信公众号 </a>
                                </li-->
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <!--BEGIN TABS-->
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">
                                    <div >
                                        <ul class="feeds">
                                            

                                            <li>
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col1">
                                                            <div class="label label-sm label-success">
                                                                <i class="fa fa-share"></i>
                                                            </div>
                                                        </div>
                                                        <div class="cont-col2">
                                                            <div class="desc">
                                                                《通过》———— 提交的DDL语句语法正确、符合规范
                                                                <span class="label label-sm label-success">
                                                                DBA可线下执行</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>


                                            <li>
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col1">
                                                            <div class="label label-sm label-warning">
                                                                <i class="fa fa-bell-o "></i>
                                                            </div>
                                                        </div>
                                                        <div class="cont-col2">
                                                            <div class="desc">
                                                           《警告》———— 
                                                            提交的DDL语句不符合上线规范或设计不合理
                                                            <span class="label label-sm label-warning">
                                                            开发人员根据审核结果进行调整</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>


                                             <li>
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col1">
                                                            <div class="label label-sm label-danger">
                                                                <i class="fa fa-bolt"></i>
                                                            </div>
                                                        </div>
                                                        <div class="cont-col2">
                                                            <div class="desc">
                                                                 《错误》———— 
                                                                 提交的DDL语句语法错误或和线上结构冲突
                                                                 <span class="label label-sm label-danger">
                                                                开发人员根据审核结果进行修复 </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                

                                <div class="tab-pane" id="tab_1_2">
                                    <div  >
                                        <ul class="feeds">
                                            <li>
                                                <div class="col1">
                                                    <div class="cont">
                                                        <!--div class="cont-col1">
                                                            test
                                                        </div-->
                                                        <div class="cont-col2">
                                                            <div class="desc">
 <!--展示权限表-->                                                               
<table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                <tr>
                                    <th >权限名</th>
                                    <th >访问页面</th>
                                    <th> DBA用户权限</th>
                                    <th> 非DBA用户权限</th>
                                </tr>
                                </thead>
                 <tbody>
                 

<tr> <td ><strong>ddlaudit_access</strong> </td>      <td >语句审核</td><td ><span class="label  label-success"><i class="icon-check"></i></span></td><td ><span class="label  label-success"><i class="icon-check"></i></span></td></tr>
<tr> <td ><strong>ddlcheckresult_access</strong></td> <td >查看审核结果</td><td ><span class="label  label-success"><i class="icon-check"></i></span></td><td ><span class="label  label-success"><i class="icon-check"></i></span></td></tr>

<tr> <td ><strong>ddlstructure_access</strong> </td>     <td >线上表结构查询</td><td ><span class="label  label-success"><i class="icon-check"></i></span></td><td >
 <span class="label  label-success"><i class="icon-check"></i></span>
</td></tr>

<tr> <td ><strong>ddlreport_access</strong> </td>     <td >报表统计</td><td ><span class="label  label-success"><i class="icon-check"></i></span></td><td ><span class="label  label-danger"><i class="icon-close"></i></span></td></tr>

<tr> <td >            </td>       <td >功能说明</td><td ><span class="label  label-success"><i class="icon-check"></i></span></td><td ><span class="label  label-success"><i class="icon-check"></i></span></td></tr>
<tr> <td >            </td>       <td >语句生成模板</td><td ><span class="label  label-success"><i class="icon-check"></i></span></td><td ><span class="label  label-success"><i class="icon-check"></i></span></td></tr>






                </tbody>
</table>
 <!--展示权限表-->        

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>






                                <!--div class="tab-pane active" id="tab_1_3">
                                    <div >
                                        <ul class="feeds">
                                            <li>
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col1">
                                                            <div class="label label-sm label-success">
                                                                <i class="fa fa-bullhorn"></i>
                                                            </div>
                                                        </div>
                                                        <div class="cont-col2">
                                                            <div class="desc">
                                                                 将你的微信号告知系统管理员
                                                                 并关注如下公众号,用于接受平台消息推送<br>
                                                                 <img src={% static "images/wechatqrcode.jpg" %}  class="img-rounded" alt="wechatqrcode">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                    


                                        </ul>
                                    </div>
                                </div-->



                            </div>
                            <!--END TABS-->
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>
{% endblock  %}














