{% extends 'ddlaudit/ddlauditbase.html' %}
{% load myNewLibrary %}
<!--
{% load %}只允许导入注册app目录下的模板库
这样做是为了保证你的模板库可以不被其它Django程序使用
-->
{% block title %}ddlaudit_structure{% endblock %}


            {%  block subcontent %}   
            <h3 class="page-title">
            线上表结构查询 
            </h3>     

            <div class="clearfix">
            </div>
            <div class="row">
                <div class="col-md-12">

                    <!-- BEGIN PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">

                                <span class="caption-subject font-red-sunglo bold uppercase">
                                <i class="icon-speech"></i> 
                                输入表信息</span>

                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="context" data-toggle="context" data-target="#context-menu">

<!--begin content 1-->
test1
<!--end content 1-->




                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->




                    <!-- BEGIN PORTLET-->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <span class="caption-subject font-red-sunglo bold uppercase">
                                <i class="icon-speech"></i> 信息展示</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="context" data-toggle="context" data-target="#context-menu">



<!--begin content 2-->
test2
<!--end content 2-->





                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->





                </div>
            </div>





            {% endblock  %}






















